<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="keywords" content="博客,个人,学习,IT,生活,张浩晟,程序猿,springboot,java,后端">
		<meta name="description" content="张浩晟，正宗00后，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

		<link rel="icon" type="image/x-icon" href="http://fb.shnu.edu.cn/_upload/tpl/03/33/819/template819/images/xh.ico">
		<link rel="stylesheet"  href="css/mymusiccommon.css">
		<link rel="stylesheet"  href="css/mymusiciconfont.css">
		<link rel="stylesheet"  href="css/mymusic.css">
		<script type="text/javascript" src="js/mymusic.js"></script>
		<script type="text/javascript" src="js/mymusicselector.js"></script>
		
		<title>音乐餐厅</title>
	</head>
	<body oncontextmenu="return false;" onselectstart="return false">
		<!--[if lte IE 8]>
		<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，请 <a href="https://support.dmeng.net/upgrade-your-browser.html" target="_blank">升级浏览器</a> 以获得更好的体验！</p>
		<![endif]-->
		
		<textarea name="" id="txt0" cols="30" rows="10" style="display: none;">
			[00:00.00]作词：Brian Alexander Morgan+Jaco Pastorius
			[00:15.00]作曲：Brian Alexander Morgan+Jaco Pastorius
			[00:37.87]Sometimes as soft as a myst of rain
			[00:44.92]That gently touches my soul
			[00:51.82]It cools the fire that burns in me
			[00:58.18]And I simply lose control
			[01:03.83]So just
			[01:05.33]Rain down on me
			[01:08.83]Let you're love just fall like raindropse
			[01:12.38]Rain on me
			[01:17.83]Just
			[01:19.31]Rain down on me
			[01:22.46]Let you're love just shower me
			[01:25.46]Just rain on me
			[01:33.56]Full as a dam at capacity
			[01:40.26]My passion's about to explode, yeah
			[01:47.31]I can't escape, it's surrounding me
			[01:53.26]I'm caught in a storm
			[01:56.36]That I don't need no shelter from
			[02:01.00]Rain down on me
			[02:04.37]Let you're love just fall like raindropse
			[02:08.02]Rain on me
			[02:13.27]Just
			[02:14.82]Rain down on me
			[02:18.07]Let you're love just shower me
			[02:21.02]Just rain on me
			[02:30.27]Shower me
			[02:33.67]Sprinkle me
			[02:37.27]Fall down on me
			[02:40.72]You're love just fall on me
			[02:43.12]Fall down, fall down on me
			[02:48.63]Let it
			[02:49.93]Fall down, fall on me
			[02:55.13]Just
			[02:56.79]Rain down on me just is will you loving
			[03:03.59]Rain on me
			[03:09.15]Just
			[03:10.55]Rain down on me
			[03:17.36]Rain on me
			[03:23.09]Just rain down on me
			[03:27.84]Let you're love just fall like raindropse
			[03:31.59]Rain on me
			[03:36.94]Just
			[03:38.44]Rain down on me
			[03:41.69]Let you're love just shower me
			[03:44.44]Just rain on me
			[03:52.44]Sometimes as soft as a myst of rain


		</textarea>
		
		<textarea name="" id="txt1" cols="30" rows="10" style="display: none;">
[00:00.00]作词：Antoine Mccolister+N Cash+W Roberts+M Williams
[00:01.00]作曲：Antoine Mccolister+N Cash+W Roberts+M Williams
[00:02.00]歌词太纯正我都找不到资源下
[00:10.00]富强民主文明和谐
[00:11.00]自由平等公正法治
[00:12.00]爱国敬业诚信友善
[00:15.00]歌词摆烂了😅

		</textarea>
		
        <textarea name="" id="txt2" cols="30" rows="10" style="display: none;">
[00:00.00]作词/作曲：George McCrae
[00:24.67]Sittin' here together, baby, we're all alone
[00:34.37]Now I can tell ya, girl, you turn me on
[00:44.78]I get lifted up hi-high, hi-high
[00:55.20]I get lifted up hi-high, hi-high
[01:03.46]Bring out the lovin', lovin' desire, baby
[01:12.65]You got the match, oh that lights the fire
[01:23.33]I get lifted up hi-high, hi-high
[01:33.08]I get lifted up hi-high, hi-high
[01:46.18]Mama, mama
[01:55.94]Mama, mama
[02:01.73]I get lifted up hi-high, hi-high
[02:10.59]I get lifted up hi-high, hi-high
[02:24.50]Mama, mama~
[02:33.98]Mama, mama~
[02:39.72]Sittin' on the corner, waiting for your love light
        </textarea>
 
        <textarea name="" id="txt3" cols="30" rows="10" style="display: none;">
[00:00.00]作词/作曲：King Avriel
[00:04.23]Talk to me nice or don’t talk to me at all
[00:08.46]Big moneyish, haha
[00:15.06]Walked in the club and the booty clappin’
[00:17.20]Mama got me hot, like a dragon
[00:18.93]I’m about to throw a hundred thou, I ain’t braggin’
[00:20.66]I wanna murder the ***** and toe tag it
[00:22.61]She lookin’ like “Ferg, you so ratchet”
[00:24.68]I met your ass here so you know ratchet
[00:26.60]Let’s do it on the stage, **** a matress
[00:28.46]Rub in it your face like ProActiv
[00:30.42]I’m about to stick you up like a polar cactus
[00:32.29]Keep makin’ it clap, bag know your status
[00:34.08]Weave all in my lap, brain not so average
[00:36.11]Her **** the best like DJ Khaled
[00:39.53]But she out for the green like a bowl of salad
[00:41.85]20’s, 50’s, 100’s
[00:43.11]I’mma head to the ATM girl
[00:44.52]Now, tell me how you want it
[00:46.14]Somethin’ like a scene from “Set It Off”
[00:49.11]Four chicks packed deep in a van with a mind to crack a vault
[00:53.13]Screamin’ money over everything, addicted to adrenaline
[00:57.23]Stay chasin’ the thrill until the day we’re caught
[01:00.80]All black in July for the love the heist
[01:03.54]Willingly pullin' wool over my eyes
[01:06.58]**** it, I need to survive (**** it I need to survive)
[01:11.98]Strapped up to make sure they get the point across
[01:16.21]Grab the teller tie her down
[01:18.82]tell her not to make a sound
[01:23.82]Fill the duffles, do it now
[01:26.51]Before the clock comes back around
[01:31.15]Promise to leave quietly
[01:34.04]if you give me what I need
[01:38.84]Not really tryna catch a body
[01:42.31]just love the feel of paper on me
[01:45.42]And all I want is
[01:47.06][03:18.30]20’s, 100’s, 20’s, 50’s, 100’s
[03:22.25][01:50.69]20’s, 100’s, 20’s, 50’s, 100’s
[03:25.96][01:54.53]20’s, 100’s, 20’s, 50’s, 100’s
[03:29.91][01:58.44]All I wanna see is green and all I want is
[03:33.50][02:02.35]20’s, 100’s, 20’s, 50’s, 100’s
[03:37.51][02:06.02]20’s, 100’s, 20’s, 50’s, 100’s
[03:41.38][02:09.94]20’s, 100’s, 20’s, 50’s, 100’s
[03:45.20][02:13.73]All I wanna see is green
[02:17.61]Posted up outside of Charlestown
[02:24.35]Celebratin’, bottles poppin’, panties droppin’
[02:28.98]Are you ready? It’s going down
[02:33.12]Pour it up, let the dances begin
[02:36.58]They fall from the ceiling so **** it, I’m making it rain
[02:40.94](**** it I'm making it rain)
[02:43.37]Cash to Diamond like a currency exchange
[02:47.60]Watch the money as it falls, wonderin’ why I risked it all
[02:55.02]Was it worth it, I don’t know
[02:57.78]Is guilt better than goin’ broke?
[03:02.58]I could leave this quietly, treat this life like history
[03:10.22]But first I gotta spend this money
[03:13.76]So come here girl and take it from me
[03:17.03]Cause all I want is...
[03:49.21]Pass it up, pass it up (hey we gotta get this money)
[03:56.79]Pass it up, pass it up 20’s, 50’s, 100’s, yea
[04:04.23]Pass it up, pass it up 20’s, 50’s, 100’s, yea
[04:11.44]Started off this way
[04:15.90]you got potential
[04:17.26]A whole lot of potential
[04:18.84]I see you
        </textarea>

		<textarea name="" id="txt4" cols="30" rows="10" style="display: none;">
[00:00.100]（《侠盗猎车手5》游戏插曲） - Kausion
[00:00.200]Written by：Kausion
[00:00.817]Are you ready
[00:02.760]South Central Los Skanless
[00:04.996]So what you wanna do
[00:09.923]Kausion
[00:12.89]So what you wanna do
[00:14.778]Are you ready
[00:16.621]So what you wanna do
[00:18.903]Are you ready
[00:20.236]I'm all on the front line down to put in work
[00:22.447]I fought once or twice but ain't never did no dirt
[00:24.875]But I'm at two put my flats on the MAC
[00:26.871]When it's changing up a scrap for a motherf**kin'strap
[00:29.143]But I got to make wild once I get the MAC-10
[00:31.539]And when I spot a rival it's a must I do him in
[00:33.919]I spin around the corner fitting to get busy
[00:36.229]I ask the big homie
[00:37.393]Who is it
[00:37.985]The fool with the wrong color on
[00:39.922]Standin'by the Brougham
[00:40.707]Said your mission is complete once he get his head blown
[00:42.992]Off his motherf**kin'neck
[00:44.470]Now my jean and checkers are they wrecked
[00:46.145]But they ain't even thought about the pen yet
[00:47.848]Ni**as smelling smoke in my clothes
[00:49.811]The d**e got me hooked
[00:50.688]Ask me where we was
[00:51.615]It's a must I'm pouring out spuds
[00:53.384]For them dead motherf**kers
[00:54.786]Now they trying to shift 25to a ni**a
[00:57.253]One more felony added to the two
[00:59.545]Instead of kicking fools I wish I would have busted you
[01:01.769]I'm only 13but already serving heat
[01:04.57]On these streets
[01:04.705]Them ni**as motherf**kin'from the front seat
[01:06.136]With the rhythm it takes to dance
[01:08.03]To what we have to live through
[01:10.865]So what you wanna do
[01:12.284]What should I do
[01:13.161]Should I bang with the red
[01:14.154]Or should I bang with the blue
[01:15.576]With the rhythm it takes to dance
[01:17.540]To what we have to live through
[01:20.32]So what you wanna do
[01:21.418]What should I do
[01:22.498]Should I hang with the fake
[01:23.632]Or should I hang with the true
[01:24.795]I dubbed 16times ni**as don't want none
[01:27.363]Infrared gauge aim for your lungs
[01:29.807]Real devils don't go to heaven won't come to heaven
[01:32.411]Cause I'mma cock back and leave seven
[01:34.151]Lay it in your chest
[01:35.531]Well who is the best
[01:36.549]Mr.LAPD y'all can't check me
[01:39.356]F**k the rest I'mma roll with the Cripz
[01:41.234]And try to keep dough when the one time trip
[01:43.324]It's 24ain't a joke ni**as get your L's
[01:45.838]Just closed fake side now I'm in sales
[01:48.191]Ease up light a sack ni**a f**k back
[01:50.525]I'd rather ride 100spokes bent on stack
[01:52.741]So call it what you want
[01:53.751]Cause I don't keep my Glock on safe
[01:55.607]Gonna smoke your a**if you make me
[01:57.351]With the rhythm it takes to dance
[01:59.232]To what we have to live through
[02:02.161]So what you wanna do
[02:03.220]What should I do
[02:04.188]Should I bang with the rizzed
[02:05.518]Or bang with blizzue
[02:06.591]With the rhythm it takes to dance
[02:08.508]To what we have to live through
[02:11.394]So what you wanna do
[02:12.531]What should I do
[02:13.445]Should I hang with the fake
[02:14.526]Or should I hang with the true
[02:15.778]I'm thinking f**k school
[02:16.699]Mom's banging at the door
[02:18.231]Letting me know my black a**best to the floor
[02:20.806]Here we go again
[02:21.897]Teachers wonderin'where I've been
[02:22.988]With no absence slip when I bail then
[02:25.171]Smelling like the stickiest sh*t
[02:26.710]On the streets got stress joints
[02:28.315]For a buck fifty each
[02:29.690]Servin'sell five popping up the bungalows
[02:31.717]Me and Cel mack flow strictly on all the hoes
[02:34.275]The pros from the game I spit
[02:36.68]Follow a virgin but I'm knowing that you love it
[02:38.442]So what's up trick when Gonzoe rock that spot
[02:41.348]You on my jock
[02:42.171]My video's on the box
[02:43.559]With the rhythm it takes to dance
[02:45.672]To what we have to live through
[02:48.309]So what you wanna do
[02:49.583]What should I do
[02:50.498]Should I bang with the rizzed
[02:51.671]Should I bang with blizzue
[02:52.897]With the rhythm it takes to dance
[02:54.884]To what we have to live through
[02:57.721]So what you wanna do
[02:58.566]Ni**a what should I do
[02:59.736]Should I hang with the fake
[03:00.875]Or should I hang with the true
[03:02.109]With the rhythm it takes to dance
[03:04.76]To what we have to live through
[03:06.963]So what you wanna do
[03:11.428]With the rhythm it takes to dance
[03:13.297]To what we have to live through
[03:16.227]So what you wanna do
[03:20.647]With the rhythm it takes to dance
[03:22.436]To what we have to live through
[03:25.472]So what you wanna do
[03:29.934]With the rhythm it takes to dance
[03:31.712]To what we have to live through
[03:34.678]So what you wanna do
[03:35.944]Grab the .22and show these fools that you true
        </textarea>

		<textarea name="" id="txt5" cols="30" rows="10" style="display: none;">
[00:00.000] 作词 : Andreas Carlsson/Max Martin
[00:01.000] 作曲 : Max Martin
[00:05.060]Yeah-eh-heah
[00:11.030]You are
[00:13.520]my fire
[00:15.990]The one
[00:18.310]desire
[00:21.010]Believe
[00:23.190]when I say I want it that way
[00:30.580]But we are two worlds apart
[00:37.720]Can't reach to your heart When you say
[00:45.370]That I want it that way
[00:49.740]Tell me why
[00:50.770]（Ain't nothin' but a heartache）
[00:54.560]Tell me why
[00:55.950]（Ain't nothin' but a mistake）
[00:59.670]Tell me why
[01:00.800]I never wanna hear you say
[01:04.840]I want it that way
[01:09.650]Am I
[01:11.210]your fire
[01:14.390]Your one
[01:16.700]desire（yes i know）
[01:21.200]it's too late
[01:24.020]But I want it that way
[01:28.860]Tell me why
[01:29.880]（Ain't nothin' but a heartache）
[01:33.080]Tell me why
[01:34.550]（Ain't nothin' but a mistake）
[01:38.580]Tell me why
[01:39.540]I never wanna hear you say
[01:43.650]I want it that way
[01:48.930]Now I can see that we've fallen apart
[01:53.040]From the way that it used to be（Yeah~）
[01:56.710]No matter the distance I want you to know
[02:02.830]That deep down inside of me
[02:08.030]You are
[02:10.010]my fire
[02:12.400]The one
[02:14.790]desire
[02:15.150]You are （You are You are You are）
[02:24.520]
[02:25.600]Don't wanna hear you say
[02:28.310]Ain't nothin' but a heartache
[02:30.670]Ain't nothin' but a mistake
[02:36.720]（Don't wanna hear you say）
[02:38.290]I never wanna hear you say（Oh yeah~）
[02:43.050]I want it that way
[02:46.540]Tell me why
[02:47.510]（Ain't nothin' but a heartache）
[02:50.670]Tell me why
[02:51.940]（Ain't nothin' but a mistake）
[02:56.090]Tell me why
[02:57.230]I never wanna hear you say
[03:01.490]（Don't wanna hear you say）
[03:03.750]I want it that way
[03:05.150]Tell me why
[03:06.540]（Ain't nothin' but a heartache
[03:12.100]Ain't nothin' but a mistake）
[03:15.470]Tell me why
[03:16.530]I never wanna hear you say
[03:20.840]（Never wanna hear you say it）
[03:22.760]I want it that way
[03:27.800]Cause I want it that way
        </textarea>

		<textarea name="" id="txt6" cols="30" rows="10" style="display: none;">
			[00:00.00]作词/作曲：The Doobie Brothers
			[00:00.00]What A Fool Believes （瓜的信仰）-The Doobie Brothers
[00:16.965]He came from somewhere
[00:18.715]Back in her long ago
[00:22.455]The sentimental fool don't see
[00:24.915]Tryin'hard to recreate
[00:27.35]What had yet to be created once in her life
[00:32.410]She musters a smile for his nostalgic tale
[00:38.650]Never coming near what he wanted to say
[00:42.980]Only to realize
[00:46.410]It never really was
[00:49.530]She had a place in his life
[00:57.580]He never made her think twice
[01:04.820]As he rises to her apology
[01:08.600]Anybody else would surely know
[01:14.340]He's watching her go
[01:17.830]But what a fool believes he sees
[01:25.60]No wise man has the power to reason away
[01:34.370]What seems to be
[01:40.790]Is always better than nothing
[01:45.660]And nothing at all keeps sending him
[01:50.650]Somewhere back in her long ago
[01:55.530]Where he can still believe
[01:57.340]There's a place in her life
[01:59.600]Someday somewhere she will return
[02:06.470]She had a place in his life
[02:14.500]He never made her think twice
[02:21.400]As he rises to her apology
[02:25.140]Anybody else would surely know
[02:31.250]He's watching her go
[02:34.690]But what a fool believes he sees
[02:41.980]No wise man has the power to reason away
[02:51.220]What seems to be
[02:57.770]Is always better than nothing
[03:02.760]There's nothing at all
[03:06.310]But what a fool believes he sees
[03:13.360]No wise man has the power to reason away
[03:22.400]What seems to be
[03:28.960]Is always better than nothing
        </textarea>

		<textarea name="" id="txt7" cols="30" rows="10" style="display: none;">
			[00:00.00]作词/作曲：Mis-Teeq
			[00:01.20]So, so, so scandalous
[00:13.59]You know you wanna sing with us （baby）
[00:17.59]That's why you know you should be scared of us （baby）
[00:22.68]Non stop looks to kill
[00:25.10]Straight talk *** appeal
[00:27.44]One touch gives me chills and we ain't even close yet
[00:32.28]Rough neck all around
[00:34.53]Inking all over town
[00:36.99]Show me how you get down
[00:38.98]Cos we ain't even close yet
[00:41.50]You got me feening and you got me feeling weak
[00:43.22]Listen as I speak cos I'm careful as I creep
[00:45.59]You got me going crazy and you know I can't sleep
[00:47.98]No fortune your moves and you hypnotise me
[00:50.31]You got me trembling like a little baby girl
[00:52.84]You're so special, you're like diamonds and pearls
[00:55.20]You got me spinning and you got me in a twirl
[00:57.60]You're my number one baby and you come to rock my world
[01:00.70]You're dangerous
[01:01.67]Just get it up
[01:02.77]The way you move so scandalous
[01:05.01]It's all about the two of us
[01:07.69]A one night stand just ain't enough
[01:10.90]I need some stimulation baby
[01:12.97]A little conversation maybe
[01:15.32]You got me spinning out like crazy
[01:17.77]There goes my baby
[01:21.06]Scandalous （baby）
[01:23.45]So scandalous （baby）
[01:25.56]Scandalous （baby）
[01:28.08]So, so, so scandalous
[01:29.46]Hot stuff, head to toe
[01:32.24]Where you go, no one knows
[01:34.67]You smile playing the dough and we ain't even close yet
[01:39.48]Solid as a rock
[01:41.84]How many ways can you hit the spot?
[01:44.16]Show me what you got 'cos we ain't even close yet
[01:48.72]You got me feening and you got me feeling weak
[01:50.92]Listen as I speak cos I'm careful as I creep
[01:52.79]You got me going crazy and you know I can't sleep
[01:55.23]No fortune your moves and you hypnotise me
[01:57.62]You got me trembling like a little baby girl
[01:59.98]You're so special, you're like diamonds and pearls
[02:02.44]You got me spinning and you got me in a twirl
[02:04.75]You're my number one baby and you come to rock my world
[02:07.72]You're dangerous
[02:08.91]Just get it up
[02:10.14]The way you move so scandalous
[02:12.27]It's all about the two of us
[02:14.81]A one night stand just ain't enough
[02:18.09]I need some stimulation baby
[02:20.20]A little conversation maybe
[02:22.54]You got me spinning out like crazy
[02:24.83]There goes my baby
[02:28.24]Scandalous （baby）
[02:30.51]So scandalous （baby）
[02:32.88]Scandalous （baby）
[02:34.67]So, so, so scandalous
[02:36.79]A little conversation goes a long, long way
[02:46.14]Show a little patience
[02:50.62]That you are here to stay
[02:55.76]So show me that you're game oh
[02:58.50]You're dangerous
[02:59.46]Just get it up
[03:00.59]The way you move so scandalous
[03:02.82]It's all about the two of us
[03:05.33]A one night stand just ain't enough
[03:08.20]I need some stimulation baby
[03:10.63]A little conversation maybe
[03:13.06]You got me spinning out like crazy
[03:15.56]There goes my baby
[03:17.59]You're dangerous
[03:18.60]Just get it up
[03:19.74]The way you move so scandalous
[03:22.03]It's all about the two of us
[03:24.57]A one night stand just ain't enough
[03:27.62]I need some stimulation baby
[03:29.83]A little conversation maybe
[03:32.12]You got me spinning out like crazy
[03:34.57]There goes my baby
[03:36.72]You know you wanna sing with us （baby）
[03:41.23]That's why you know you should be scared of us （baby）
[03:46.61]You know you wanna sing with us （baby）
[03:51.03]That's why you know you should be scared of us （baby）
        </textarea>

		<textarea name="" id="txt8" cols="30" rows="10" style="display: none;">
			[00:00.10]作词/作曲：Fergie
[00:15.93]G-L-A-M-O-R-O-U-S yeah G-L-A-M-O-R-O-U-S
[00:30.17]We flying the first class
[00:31.70]Up in the sky
[00:33.77]Poppin' champagne
[00:34.22]Livin' the life
[00:37.36]In the fast lane
[00:38.78]And I wont change
[00:40.55]For the glamorous oh the flossy flossy
[00:44.18]The glamorous
[00:45.37]The glamorous glamorous （the glamorous life）
[00:48.87]For the glamorous oh the flossy flossy
[00:51.86]The glamorous
[00:52.62]The glamorous glamorous （the glamorous life）
[00:55.41]For the glamorous oh the flossy flossy
[00:59.91]Wear them gold and diamonds rings
[01:01.23]All them things dont mean a thing
[01:02.93]Chaperons and limousines
[01:03.97]Shopping for expensive things
[01:07.21]I be on the moovie screens
[01:08.66]Magazines and boogie scenes
[01:10.86]Im not clean Im not pristine
[01:12.21]Im n queen Im no machine
[01:13.91]I still go to Taco Bell
[01:15.86]Drivethrough raw as Hell
[01:18.17]I dont care Im still real
[01:19.85]No matter how many records I seel
[01:21.43]After the show or after the grammys
[01:23.35]I like to go cool out with the family
[01:25.47]Sippin' reminscing on days when I had a Mustang
[01:28.71]And now I'm in
[01:29.82]The first class
[01:30.38]Up in the sky
[01:32.37]Poppin' champagne
[01:32.95]Livin' the life
[01:34.82]In the fast lane
[01:37.28]And I wont change
[01:38.48]For the glamorous oh the flossy flossy
[01:43.07]The glamorous
[01:44.33]The glamorous glamorous （the glamorous life）
[01:45.88]For the glamorous oh the flossy flossy
[01:50.65]The glamorous
[01:51.99]The glamorous glamorous （the glamorous life）
[01:54.02]For the glamorous oh the flossy flossy
[01:59.11]I got problems up to here
[02:01.01]I've got people in my ear
[02:02.76]Telling me these crazy things
[02:04.55]That I dont want to know （fuck y'all）
[02:06.45]I've got money in the bank
[02:08.19]And I'd really like to thank
[02:09.99]All the fans I'd like to thank
[02:11.84]Thank you really though
[02:13.68]Cuz i remember yesterday
[02:15.48]When I dreamt about the days
[02:17.47]When I'd rock on MTV that be really dope
[02:21.06]Damn It's been a long road
[02:22.81]And the industry is cold
[02:24.66]I'm glad my daddy tell me so
[02:26.45]He let his daugther know
[02:30.30]My daddy tell me so
[02:33.69]He let his daugther know
[02:37.38]My daddy tell me so
[02:41.02]He let his daugther know
        </textarea>

		<textarea name="" id="txt9" cols="30" rows="10" style="display: none;">
[00:00.20]作词/作曲： Koffee+Gunna
[00:16.16]Yo Izy are you kidding me
[00:18.95]A no news me ina me prime a no crime
[00:21.16]Where di dolla sign Money pon me mind
[00:22.86]Yeah
[00:23.20]So me nah no time fi spend
[00:26.12]Time fi spend
[00:28.54]A me style put me pon di map me deh pon di top
[00:30.97]And me name Koffee-Swag-A-Lot
[00:32.36]Dem a chat me nah no time fi dem
[00:35.66]Time fi dem
[00:37.14]Yeah a so me wake up yeah
[00:39.20]Money maker no makeup
[00:41.02]Yeah
[00:41.61]Me go straight fi di paper
[00:43.39]Yeah
[00:43.96]Tell ya Wait see ya later
[00:46.17]Me step out everybody look like What
[00:48.70]Me so fresh dem say How you look like dat
[00:51.09]Hot up every cranny every nook
[00:52.60]Yeah
[00:53.14]And me slick have every trick ina di book
[00:55.29]Yeah
[00:56.48]Everything we do we give thanks tell dem wah we do
[00:59.41]Lowe di L take di W
[01:01.00]Ayy ayy
[01:01.81]One thing deh out deh fi you
[01:03.32]Ayy ayy
[01:04.22]And it nah come if you no go
[01:05.96]Everything we do we give thanks tell dem wah we do
[01:08.93]Lowe di L take di W
[01:10.59]Ayy ayy
[01:11.30]One thing deh out deh fi you
[01:12.88]Ayy ayy
[01:13.64]And it nah come if you no go
[01:16.11]A no news me ina me prime a no crime
[01:18.15]Where di dolla sign Money pon me mind
[01:20.19]Yeah
[01:20.23]So me nah no time fi spend
[01:23.12]Time fi spend
[01:25.50]A me style put me pon di map me deh pon di top
[01:27.97]And me name Koffee-Swag-A-Lot
[01:29.41]Dem a chat me nah no time fi dem
[01:32.66]Time fi dem
[01:34.93]Everything exotic all plush
[01:36.71]Lil' baby got a body that I swear I wan' touch
[01:39.12]Pull it out let her ride it girl you know I want lust
[01:41.48]I got her excited I won't stop I'm in a rush
[01:43.88]I that like lunch we keep it on hush
[01:46.21]Bought you a Benz truck I love to see you blush
[01:48.56]You shoppin' when you land see you bought a Prada clutch
[01:51.00]We got a lot of bucks cash longer than a bus
[01:53.59]Huh we some warriors
[01:54.94]Warriors
[01:55.22]Lookin' at your heart through the Cartier
[01:57.06]Cartier
[01:57.56]Peons at the top at the Aria
[01:59.55]Aria
[02:00.18]She got it locked Rastafari yeah
[02:02.09]'Fari yeah
[02:02.47]Me my wa gwan at the party yeah
[02:04.44]Party yeah
[02:04.83]We don't fear nothin' we the hardest yeah
[02:06.76]Hardest yeah
[02:07.12]Spendin' cash for fun get us all a pair
[02:08.97]All a pair
[02:09.49]She want Gunna-Wunna 'cause the real is rare
[02:11.42]Real is rare
[02:13.07]A no news me ina me prime a no crime
[02:15.17]Where di dolla sign Money pon me mind
[02:16.99]Yeah
[02:17.25]So me nah no time fi spend
[02:20.19]Time fi spend
[02:22.59]A me style put me pon di map me deh pon di top
[02:25.00]And me name Koffee-Swag-A-Lot
[02:26.46]Dem a chat me nah no time fi dem
[02:29.73]Time fi dem
[02:32.23]Pull up in rocket me blast off
[02:34.45]You could never get me half off
[02:36.85]You gon get da full price
[02:38.69]Yeah
[02:39.24]Been this real my whole life
[02:40.93]Me no err twice all year flights
[02:43.35]Moncler 'cause the weather here ice cold
[02:46.88]And me really never check the price
[02:48.43]I'm livin' my best life 'cause life good
[02:50.61]Everything we do we give thanks tell dem wah we do
[02:53.47]Lowe di L take di W
[02:54.96]Ayy ayy
[02:55.82]One thing deh out deh fi you
[02:57.39]Ayy ayy
[02:58.26]And it nah come if you no go
[03:00.01]Everything we do we give thanks tell dem wah we do
[03:02.99]Lowe di L take di W
[03:04.80]Ayy ayy
[03:05.42]One thing deh out deh fi you
[03:07.14]Ayy ayy
[03:07.72]And it nah come if you no go
[03:10.12]A no news me ina me prime a no crime
[03:12.17]Where di dolla sign Money pon me mind
[03:14.27]Yeah
[03:14.27]So me nah no time fi spend
[03:17.20]Time fi spend
[03:19.60]A me style put me pon di map me deh pon di top
[03:22.01]And me name Koffee-Swag-A-Lot
[03:23.52]Dem a chat me nah no time fi dem
[03:26.75]Time fi dem
        </textarea>



		<div class="page Opage" >
			<div class="main">
				
				<div class="Lbox l">
					<img src="img/0.jpg" ><br>
					
				</div>
				
				<div class="Rbox r">
					<h2 class="songName"></h2>
					<span class="singer"></span>
					<div class="Lyric"></div>
				</div>
			
			</div>
			<div class="footer">
				<div class="main">
					
					<div class="l left">
						<span class="last iconfont icon-kuaitui" title="上一首"></span>&nbsp;&nbsp;
						<span class="play iconfont Iconfont icon-zanting" title="播放"></span>&nbsp;&nbsp;
						<span class="next iconfont icon-kuaijin" title="下一首"></span>
					</div>
					
					<div class="content clearfix">
						<a class="l" ><img src="img/0.jpg" title="点击全屏"></a>&nbsp;
						<div class="Box">
							<span class="songName l"></span><span class="l">&nbsp;-&nbsp;</span><span class="singer l"></span>
							<span class="r">
								<span class="realTime">00:00</span>&nbsp;/&nbsp;<span class="totalTime"></span>
							</span><br>
							<div class="strip">
								<div class="progress"></div>
								<span class="spot"></span>
							</div>
						</div>
						<div class="volumeBox" style="display: none;">
							<div class="groove">
								<div class="volume"></div>
								<span class="volumeSpot"></span>
							</div>
							<div class="triangle"></div>
						</div>&nbsp;
						<span class="iconfont icon-shengyin"></span>
					</div>
					
					<div class="r right">
						<div class="list" style="display: none;">
							<div class="Song"></div>
						</div>
						<div class="listTriangle" style="display: none;"></div>
						<div class="gengduoBox" style="display: none;">
							<span class="project iconfont icon-fenxiang" title="分享"></span>
							<div class="boxTriangle" style="display: none;"></div>
						</div>
						<span class="iconfont loop icon-liebiaoxunhuan" title="循环方式"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="iconfont icon-liebiao liebiao" title="播放列表" style="font-size: 26px;"></span>&nbsp;&nbsp;&nbsp;

					</div>
					
				</div>
			</div>
		</div>
		<audio id="myMusic" src="./music/0.mp3">
			您的浏览器不支持 audio 元素。
		</audio>
	</body>
</html>
